.about-container{
    display: flex;
    flex-direction: row;
    gap: 15vw;
    width: 100%;
    height: 50vh;
    background-color: #FAFAFA;
    align-items: center;
}
.about-info{
    display: flex;
    flex-direction: column;
    margin: 2vw ;
    align-items: flex-start;
    width: 40vw;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}