.text-container{
    background-color: #F9F4EA;
    height: 8vh;
    display: flex;
    justify-content: center;
    padding: 1.2vw;
    text-align: center;
}
.chef-rest-container{
    display: flex;
    flex-direction: column;
    width: 16vw;
    img{
        height: 22.6vh;
    }
}