.text-container{
    background-color: #F9F4EA;
    height: 18vh;
    display: flex;
    justify-content: center;
}
.chef-rest-container{
    display: flex;
    flex-direction: column;
    width: 13vw;
}