.dish{
    background-color: #F9F4EA;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1vh;
    width: 25vw;
    height: 130vh;
    img{
        width: 5vw;
        height: 4vh;
    }
}
.dish-card{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 80vh;
}
.price{
    display: flex;
    align-items: center;
    flex-direction: row;
    .ils{
        width: 1.6vw;
        height: 2.5vh;
    }
}
.dish-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 22vw;
    height: 25vh;
    white-space: 0.5vw;
}
.dish-name{
    width: 10vw;
}
.info-box{
    width: 100%;
    height: 18vh;
}