.footer-container{
    display: flex;
    gap: 2vw;
    margin-top: 2vh;
    margin-bottom: 6vh;
    span{
        font-family: Helvetica;
        font-weight: 200;
        font-size: 1.3vw;
        letter-spacing: 0.1vw;
    }
}