header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 40px;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
  gap: 30vw;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
}
.left-section{
    display: flex;
    align-items: center;
    gap: 1vw;

}
button{
    background-color: white;
    font-family: Helvetica, sans-serif;
}
.logo-section{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.right-section{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.logo-text{
    font-family: Helvetica,sans-serif;
    font-size: 23px;
    font-weight: 20;
}
nav{
    display: flex;
    gap: 1vw
}

