.hero-total-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/hero.svg");
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  height: 28vh;
  background-color: #ffffffe0;
}
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24vw;
  height: 80px;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;

  input {
    width: 30vw;
    height: 6vh;
    border: 0;
    background-color: transparent;
    font-size: 1.6vw;
  }
  img {
    width: 2.5vw;
    margin-left: 1.5vw;
  }
}
