.legend-container{
    background-color: #FAFAFA;
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.iconCards{
    display: flex;
    align-items: center;
    gap: 2vw;
}