.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f9f4ea;
    width: 25.1vw;
    gap: 1vh;
    height: 23vh;
}
.dish{
    width: 26.32vw;
}
.container{
    display: flex;
    flex-direction: column;
    width: 26.32vw;
}
h3{
    font-family: Helvetica;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 2.67px;
    margin: 0px;
    margin-top: 18px;
}
h4{
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 1.97px;
    margin: 0px;
}
h5{
    margin: 0px;
}