.info{
    background-color: orange;
}
h3{
    font-family: Helvetica;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 2.67px;
}
h4{
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 1.97px;
}