.search-section{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: absolute;
  img {
    position: absolute;
    margin-right: 0.8vw;
  }
  input {
    position: absolute;
    width: 410px;
    height: 41px;
    margin-right: 0.6vw;
  }
}