.input-container {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  align-items: center;
  input {
    border: none;
    border-bottom: 0.1vh solid black;
    width: 23vw;
    font-size: 1.2vw;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}
dialog{
    width: 35vw;
    height: 75vh;
}
.signin-headers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signin-container{
    display: flex;
    flex-direction: column;
}
button{
    background-color: white;

}
