.dishCard-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
}
.signature-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}