.weekly-rest-cards{
    display: flex;
    gap: 2vw;
}
.weekly-chef{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.chef-info{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
.weekly-container{
    display: flex;
    flex-direction: column;
}