.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
h3{
    font-family:Helvetica;
    font-weight: 200;
    font-size: 27px;
    letter-spacing: 1.97px;
    width: 402px;
    height: 80px;
    
}